.card {
    width: auto;
    height: 40vh;
    background-color: rgb(237, 237, 237);
    border: 4px solid black;
    display: flex;
    padding: .5rem 1.5rem;
    margin: .5rem;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card h4 {
    font-size: 1rem
}

.card h6 {
    font-size: .7rem
}

.card img {
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    min-height: 150px;
    height: 150px;
    max-height: 150px;
}

.cart-widget button {
    background: cadetBlue;
    width: 30px;
    margin: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.cart_buy-button {
    width: inherit;
    background: rgb(241, 200, 34);
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}